fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-multipart
python-jose[cryptography]
passlib[pbkdf2]
pycryptodome
httpx
beautifulsoup4
apscheduler